html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    background: #DDF2F4;
    background: linear-gradient(135deg, #DDF2F4, #94848D);
}

.page-header {
    margin-top: 3rem;
    font-size: 1.25rem;
    color: #4A3F36;
} 

/* .feature ul {
    padding-left: 1rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url("../img/check-circle.svg");
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
} */

.feature {
    color: #4A3F36;
}
  
  .feature ul {
    padding-left: 2rem;
    list-style-type: none;
  }
  
  .feature ul li {
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

.icon {
    color: #fff;
    height: 7rem;
    width: 7rem;
    font-size: 2.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: #fff;
    font-size: 1rem;
    margin: 0%;
    padding-bottom: 1rem;
}

 a {
    color: #4A3F36;
    text-decoration: none;
    font-weight: bolder;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #4A3F36;
}

.icons {
    color: #4A3F36
}

.services {
    color: #4A3F36;
}

.ratings{
    margin-right:10px;
}

.ratings i {
    color:#cecece;
    font-size:32px;
}

.rating-color {
    color:#fbc634 !important;
}

.review-count {
    font-weight:400;
    margin-bottom:2px;
    font-size:24px !important;
}

.small-ratings i {
  color:#cecece;   
}

.review-stat {
    font-weight:300;
    font-size:18px;
    margin-bottom:2px;
}

.button-box {
    margin-top:2rem;
 }

 .button-icon  {
    margin-right: 1rem;
 }

 .button-space {
    margin-right: 1rem;
}