html,
body {
    /* height: 100%; */
    min-height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    /* background-size: cover; */
    /* background-repeat: no-repeat;
    background-attachment: fixed; edit */
}

.gradient {
    background: #DDF2F4;
    background: linear-gradient(125deg, #DDF2F4, #94848D);
}

.page-header {
    color: #4A3F36;
}

.feature ul {
    padding-left: 1rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url("../img/check-circle.svg");
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

footer {
    color: #fff;
    font-size: 1rem;
    margin: 0%;
    padding: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #4A3F36;
}

.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 52px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.form-control:focus {
    color: #4A3F36;
    background-color: #fff;
    border-color: #4A3F36;
    outline: 0;
    box-shadow: none;
}


.border-rad{

    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;

    color: #fff;
    background-color: #4A3F36;
    border-color: #4A3F36;
}

.border-rad:hover{
   
    background-color: #f9a826;
    border-color: #f9a826;
}